body {
  margin: 0;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.title-bar {
    background: #000;
    color: #fff;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    border-bottom: 3px solid #000;
}

.window-content {
    padding: 20px;
}

.window {
  background: #f5f5f5;
  border: 3px solid #000;
  padding: 32px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  box-shadow: 6px 6px 0px #ff3b3b;
  position: relative;
  z-index: 2;
}

h1 {
  color: #000;
  margin-bottom: 20px;
  line-height: 1.4;
}

.message {
  font-size: 10px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #111;
}


button {
  font-family: inherit;
  background: #eaeaea;
  color: #000;
  border: 2px solid #000;
  padding: 12px 18px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #000;
}

button:hover {
  background: #00ff66;
}

.bg-smiley,
.emoji {
    pointer-events: none;
}

.bg-smiley 
{
    position: absolute;
    font-size: 200px;
    opacity: 0.60;
    top: 10%;
    left: 5%;
    transform: rotate(-15deg);
}

.bg-smiley.second {
    top: 60%;
    left: 65%;
}

/* Popup */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.popup-box {
    animation: popIn 0.2s east-out;
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-box {
  background: #f5f5f5;
  border: 3px solid #000;
  padding: 30px;
  text-align: center;
  box-shadow: 6px 6px 0px #00ffcc;
}

.popup-box p {
  font-size: 11px;
  line-height: 1.8;
  color: #111;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Floating emojis */
.emoji {
  position: absolute;
  font-size: 24px;
  animation: float 6s ease-in-out infinite;
}

.emoji:nth-child(odd) {
  animation-duration: 8s;
}

.heart { top: 10%; left: 15%; }
.rock { top: 70%; left: 80%; }
.smile { top: 20%; left: 70%; }
.balloon { top: 80%; left: 20%; }

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
